<main class="page__main">
  <div class="main-buttons__wrapper">
    <button class="buttons__select">Seleccionar todo</button>
    <button class="buttons__deselect">Deseleccionar todo</button>
  </div>
  <form class="main-form"></form>
  <ul class="main-details">
    <li class="details__items">Items:</li>
    <li class="details__subtotal">
      <p class="subtotal-label">Subtotal</p>
      <p class="subtotal-quantity"></p>
    </li>
    <li class="details__shipping">
      <p class="shipping-label">Gastos de envío</p>
      <p class="shipping-quantity"></p>
    </li>
    <li class="details__total">
      <p class="total-label">Total</p>
      <p class="total-quantity"></p>
    </li>
  </ul>
  <button class="main-purchase">Comprar ingredientes:</button>
</main>
